@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #5D15C1;
  --bg-color: #F1E8FC;
}

* {
  font-family: 'Lexend', sans-serif;
}

body {
  font-family: 'Lexend', sans-serif;
}

.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
  color: white;
}

body,
html {
  height: calc(100vh - 0px);
  width: 100%;
  overflow: hidden;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    font-family: 'Lexend';
  }
}

.inputField {
  @apply w-full px-4 py-3 border border-gray-300 rounded-lg focus:outline-none outline-none h-[45px] text-[14px]
}

.bg-primary-50 {
  background-color: #F1E8FC;
}

.scrollContainer{
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.scrollContainer{
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #F0F0F0;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }
}
sup{
  color: red;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}